extends base_estudiantes
	
block scripts	
	script.
		$(document).ready(function() {		
			$('#calendar').fullCalendar({
				lang: 'es'
			});
		});	
		function renderCalendar(){
			$('#calendar').fullCalendar({	
				lang: 'fi'
			});
		}

block content
	br
	br
	div.container
		h1 Mi calendario		
		#calendar
			script.
				$('#calendar').fullCalendar({
				events: [
				{
				title	: 'event1',
				start	: '2015-10-10'
				},
				{
				title	: 'event2',
				start	: '2015-10-15',
				end		: '2015-10-17'
				},
				{
				title	: 'event3',
				start	: '2015-10-09T12:30:00',
				allDay : false // will make the time show
				},
				{
				title	: 'event4',
				start	: '2015-10-15',
				end		: '2015-10-17'
				}
				]
				});