extends base_estudiantes
	
block content
	br
	br
	div.container
		h1 Mi calendario		
		#calendar
			script.
				var eventos = !{JSON.stringify(actividades)};
				var evs = [];
				for (ev in eventos){
					evs.push({
						title: eventos[ev].nombre ,
						start: eventos[ev].fecha_limite
					});
				}

				$('#calendar').fullCalendar({
					lang: 'es',
					events: evs
				});

		//div(id='holi')
			script.
				holi.innerHTML = JSON.stringify(eventos);


	