extends base_estudiantes

block scripts
	script(language="javascript",src='/javascript/estudiantes/notas.js')

block content
	br
	br
	div.container
		h1 Mis Notas
		div(id="select_curso")
			p
				b Unidad
			select(id='unidad',name='unidad')
				option(value='1') 1ra Unidad

			p
				b Curso: 
			select(id='curso',name='curso',onchange="seleccionar_curso();")
				option(value='-1', disabled selected) Seleccione un curso
				each cur,id in cursos
					option(value='{"curso":#{cur.curso},"ciclo":#{cur.ciclo}}') #{cur.nombre}
			br
			br

		div(id="div_show_notas")