extends base_estudiantes

block scripts
	//script(language="javascript",src='/javascript/asignar_tarea.js')

block content
	br
	br
	div.container
		h1 Notas
		span Curso: 
		select
			option curso
		br
		br
		table
			tr 
				td No.
				td Asignatura
				td Nota sobre 100
				td Nota sobre (Ponderación)
			tr 
				td 1
				td Nombre asignatura 
				td 50
				td 5
			tr 
				td 2
				td Nombre asignatura 
				td 90
				td 14
			tr 
				td 3
				td Nombre asignatura 
				td 55
				td 17