extends base

block content
	h1= title
	div.container
		h1 Historias
		p
			a(href="/maestros/asignar_tarea") 1. Maestro Asigna Tareas
		p 
			a(href="/maestros/ingresar_notas") 2. Maestro Ingresa notas
		p
			a(href="/maestros/planificar_unidad") 3. Maestro planifica unidad academica
		p
			a(href="/maestros/examenes") 4. Maestro sube examenes para supervisión
		p
			a(href="/estudiantes/notas") 5. Estudiante puede ver notas
		p
			a(href="/estudiantes/subir_tarea") 6. Estudiante puede subir tareas (c)
		p
			a(href="#") 7. Estudiante puede ver calendarización de actividades y tareas (#)
		p
			a(href="/login") 8. Todos los usuarios desean logearse
		p
			a(href="#") 9. Autoridades quieren poder enviar reportes de conducta y boletines informativos a padres (#)
		p
			a(href="#") 10. Director quiere poder ver reportes de rendimiento académico y desempeño didáctico (#)
		p
			a(href="#") 11. FIN (Ya no es del curso) (#)
