extends base

block content
	h1= title
	div.container
		h1 Historias
		p
			a(href="/maestros/examenes") Maestro sube examenes para supervisión
		p
			a(href="/maestros/planificar_unidad") Maestro planifica unidad academica
		p
			a(href="/maestros/asignar_tarea") Maestro Asigna Tareas
		p 
			a(href="/maestros/ingresar_notas") Maestro Ingresa notas
		p
			a(href="/estudiantes/notas") Estudiante puede ver notas
		p
			a(href="") 
