doctype html
html
	head
		title= title
		//meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width,', initial-scale='1')
		link(rel='stylesheet', href='/stylesheets/basic-style.css')
	
	
	body
		br
		div.container(style="max-width:300px;width:30%")
				
			h1(align='center')
				|#{title}
			section.loginform.cf
				form(name='login', action='/login', method='POST', accept-charset='utf-8')
				
					if error																			
						.alert.alert-danger(role='alert')
							strong #{error}						
					label(for='c_user') Usuario
					input(type='text', name='c_user', placeholder='usuario')
					br
					label(for='password') Contraseña
					input(type='password', name='password', placeholder='contraseña')
					br
					label(for='tipo') Tipo
					select(name='tipo')
						option(value="1") Maestro
						option(value="2", selected) Estudiante
					div(style='padding:5px 0px;width:80%;')
						input(type='submit', value='Ingresar')

