extends ../base

block scripts
	script.

		window.addEventListener("load", Ready); 
		function Ready(){ 
			if(window.File && window.FileReader){ //These are the relevant HTML5 objects that we are going to use 
			}else{
				UploadArea.innerHTML = "Tu navegador no soporta el API, por favor actualiza tu navegador";
			}
		}

		var SelectedFile;
		var archivoSubido;
		function autoSubirArchivo() {
			if(btnSubirArchivo.value != ''){
				adjuntarArchivo.style.display = "none";
				archivosSubidos.style.display = "block";
				SelectedFile = btnSubirArchivo.files[0];
				archivosSubidos.innerHTML = '<b>Subiendo archivo adjunto:</b> ' 
				+ btnSubirArchivo.files[0].name + " [" + btnSubirArchivo.files[0].size + " bytes]" + ' <input type="submit" value="Quitar" onClick="quitarAdjunto();"/>';
				
				var xhrObj = new XMLHttpRequest();
				var formData = new FormData();
				formData.append('archivo_tarea',btnSubirArchivo.files[0],btnSubirArchivo.files[0].name);
				
				
				//xhrObj.upload.addEventListener("progress", progressFunction, false);
				xhrObj.upload.onprogress = function(e) {
				    var done = e.position || e.loaded, total = e.totalSize || e.total;
					archivosSubidos.innerHTML = '<b>Subiendo archivo adjunto:</b> ' 
						+ btnSubirArchivo.files[0].name + " [" + (Math.floor(btnSubirArchivo.files[0].size / (1024*1024))) + " MB] "  
						+ (Math.floor(done/total*1000)/10) + '%';
				
				};
				
				xhrObj.upload.onload=function(e){
					if(xhrObj.status==200) {
						alert("Respuesta: \n" + archivoSubido)
						archivosSubidos.innerHTML = '<b>Archivo adjunto:</b> ' + btnSubirArchivo.files[0].name + ' <input type="submit" value="Quitar" onClick="quitarAdjunto();"/>';
					}
				};

				xhrObj.onreadystatechange = function(){
					if(xhrObj.readyState==4)
						if(xhrObj.status==200) {
							//acciones cuado se aya cargado la pagina

							archivoSubido = xhrObj.responseText;
							alert("Respuesta: \n" + archivoSubido)
							archivosSubidos.innerHTML = '<b>Archivo adjunto:</b> ' + btnSubirArchivo.files[0].name + ' <input type="submit" value="Quitar" onClick="quitarAdjunto();"/>';
						}else{
							alert("Ocurrió un error al subir archivo");
						}
					};
				
				xhrObj.open("POST", "/maestros/asignar_tarea/subir_archivo/", true);
				
				
				xhrObj.send(formData);

			}
		}

		function quitarAdjunto(){
			inpfilesup = document.createElement("INPUT");
			inpfilesup.type = "file";
			btnSubirArchivo.files= inpfilesup.files;
			adjuntarArchivo.style.display = "block";
			archivosSubidos.style.display = "none";
		}


block content
	br
	br
	
	div.container

		h1 Examenes
		div(Style="display:inline-block;padding:20px;")
			div
				b Curso: 
				select
					each cur,id in cursos
						option(value='#{cur.id_curso}') #{cur.nombre_curso}
				br
				br
			
			div
				div#adjuntarArchivo
					b Adjuntar Archivo:
					div#UploadArea.upload
						input(type='file', value='a',id="btnSubirArchivo", onChange="autoSubirArchivo()") 
				div#archivosSubidos
				br
				br

			div			
				input(type='submit', value='Enviar a supervisión')		
		div(Style="display:inline-block;")			
			select(size="10",style="width:500px")
				option(value='1') hola1
				option(value='2') hola2
				option(value='3') hola3
				option(value='4') hola4
		div


