extends ../base

block scripts
	script.
		var Estudiante = ["Alumno1","Alumno2","Alumno3","Alumno4"];
		
		function btn_guardar_cambios(){
			alert("apachaste guardar cambios"+ i1_3.value);
		}
		
		function seleccion_curso(){
			var objeto = new XMLHttpRequest();
			var tabla;
			objeto.onreadystatechange=function(){			
				if(objeto.readyState==4){ //ya termino de cargar proceso 
					if(objeto.status==200){ //se cargo bien similar a 404 error 200 = exito
						tabla= JSON.parse(objeto.reponseText);
						tabla_alumnos_asignaturas.innerHTML=tabla;
					}
				}
			};			
			objeto.open('POST', '/maestros/ingresar_notas/cargar_tabla',true);
			objeto.setRequestHeader('Content-type','application/x-www-form-urlencoded');
			objeto.send();					
		}
		
		

block content
	div.container
			
			h1 Ingresar Notas			
			div
				b Curso: 
				select (onStateChange='seleccion_curso();', name='select_curso',id='select_curso')
					option(value="1") Mate 
					option(value="2") IPC
					option(value="3") Ciencias Naturales								
				br
				br			
			
				
			//form(action='/maestros/ingresar_notas', method='POST')	
			div(id='tabla_alumnos_asignaturas')		
				table
					tr
						th(width=300) Estudiante 
						th Asignatura 1						
						th Asignatura 2
						th Asignatura 3
						th Asignatura 4
						th Asignatura 5
						
					tr
						td  Alumno 1				
						td 
							input(id ='i1_3',name ='i1_3', type='text' )
						td
							input(id='juan',type='text' )
						td 
							input(type='text' )
						td
							input(type='text' )
						td
							input(type='text' )
					tr(class="alt")
						td Alumno 2						
						td 
							input(type='text' )
						td
							input(type='text' )
						td 
							input(type='text' )
						td
							input(type='text' )
						td
							input(type='text' )								
				br
				br								
				input(type='submit', value='Guardar cambios')
			br
			br
			form(action='/maestros/popo', method='POST')
				input(type='text', name='genri')
				input(type='submit', value='boton genri')
