extends ../base

block scripts
	script(language="javascript",src='/javascript/ingresar_notas.js')

block content
	br
	div.container
		h1 Ingresar Notas			
		div
			b Curso: 
			select(name="select_curso",id="select_curso",onchange="seleccionar_curso();")
				option(value='-1', disabled selected) Seleccione un curso
				each cur,id in cursos
					option(value='#{cur.id_curso}') #{cur.nombre_curso}								
			br 
			br 
		
			
		//form(action='/maestros/ingresar_notas', method='POST')	
		div(id='tabla_alumnos_asignaturas')
		//	table
				tr
					th(width=300) Estudiante 
					th Asignatura 1						
					th Asignatura 2
					th Asignatura 3
					th Asignatura 4
					th Asignatura 5
					
				tr
					td  Alumno 1				
					td 
						input(id ='i1_3',name ='i1_3', type='text' )
					td
						input(id='juan',type='text' )
					td 
						input(type='text' )
					td
						input(type='text' )
					td
						input(type='text' )
				tr(class="alt")
					td Alumno 2						
					td 
						input(type='text' )
					td
						input(type='text' )
					td 
						input(type='text' )
					td
						input(type='text' )
					td
						input(type='text' ) 				
				